<script>
</script>

<svelte:head>
	<title>Home</title>
	<meta name="description" content="Svelte demo app" />
</svelte:head>


	<button class="text-red-400">
		<a href="/home">Go to Home</a>
	</button>


