<script>
    import Button from "$lib/components/Button.svelte" 

    let name = "eric";

    let displayImage = false;

    let imageStr ="https://media.istockphoto.com/id/116772376/photo/notepad-to-do-list-get-things-done.jpg?s=612x612&w=0&k=20&c=txUrDWx6SyBNFTU4Su7DnIa6Tifod33N3TaPM-g3JJk=" 

    function changeStatusforDisplayImage(){
        displayImage = !displayImage
    }

</script>



<div class="font-semibold text-red-600">
    <h1>hello world!</h1>
</div>
<Button buttonName="here"></Button>
<div class="font-bold">
    my name is {name} 
</div>

<button class="bg-blue-500 px-2 py-1 rounded-lg hover:bg-blue-500/50 hover:text-white border-2 border-green-200" on:click={changeStatusforDisplayImage}>Show Imag?</button>
{#if displayImage }
    <img class="rounded-full w-[100px] aspect-square"src={imageStr} alt="">
{/if}

<Button buttonName="my-Newbtn"></Button>

